
.container{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;

}
.container2{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.containerCadastro{
    display: flex;
    flex-direction: column;
    height: 90%;
   
}
.imgCadastro{
    height: auto;
    width: auto;
}
.imgCadastro img{
    height: auto;
    width: 35vw;
}
.button{
    display: flex;
    font-family: 'Manrope';
    font-weight: 800;

    align-self: center;
    justify-self: center;

    margin-top: 50px;
    color: #ffffff;
    background-color: #38789D;

    width: 10vw;
    height: 40px;
    border-radius: 11px;

    text-align: center;
    justify-content: center;
    
}
.button a{
    margin-top: 10px;
}
input{
    border-radius: 15px;
    border: none;
    height: 40px;
    width: 276px;
    box-shadow: 8px 3px #345E77;
    margin-bottom: 20px;
    margin-right: 20px;
    align-self: center;
}
input{
    outline: unset;
    border: none;
    padding: 0px 20px;
}
h2{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5vw;
    margin-bottom: 50px;
}
input:focus{
    background-color:#9cc7e0;
    transition: 1s;}


::placeholder{
    font-family: 'Manrope';
    font-weight: 800;
    color: #000;
    
}

 
